@model TrialFreelance.ViewModels.LoginViewModel




@* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Email">Email Address</label>
                    <input type="text" asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Password">Password</label>
                    <input type="text" asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="@Model.RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model. RememberMe">Remember Me?</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <input type="text" style="display: none;" asp-for="@Model.ReturnUrl" value="@TempData["ReturnUrl"]?.ToString()" />

            </form>
        </div>
    </div>
</div> *@

<head>
<link rel="stylesheet" href="/css/login_style.css" type="text/css" />

</head>
<div class="body">
      <div class="gradient">
        <div style="margin: 10px; margin-top: 0; padding-top: 10px; display: flex; flex-direction: row;">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 5px" width="16" height="16" fill="white" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
              </svg>
            <p><a href="index.html" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Back to main</a></p>
        </div>
        <div class="main_form">
            <p class="header_login">Login</p>
                        <form asp-action="Login" method="post">
            <div class="input_box">
                    <label class="form-label lable_login">Email address</label>
                        <input asp-for="@Model.Email" onfocus="ClearEmail()" onblur="CheckEmail()"
                    data-bs-theme="dark"  type="email" class="form-control" id="input_email_login" placeholder="name@example.com"/>
                <div id="emailHelp" class="form-text" style="color: #c7291e; margin-left: 15px;"></div>
            </div>
                <div class="input_box" style="margin-top:23px;">
                <label class="form-label lable_login">Password</label>
                    <input asp-for="@Model.Password" onblur="CheckPassword()" onfocus="ClearPassword()"
                    data-bs-theme="dark" type="password" class="form-control" id="input_password_login" placeholder="Password"/>
                <div id="passwordHelp" class="form-text" style="color: #c7291e; margin-left: 15px;"></div>
            </div>
                <div class ="input_box" style="margin-top:23px;">
                    <label class="lable_rememberme">Remember me?</label>
                    <input type="checkbox" asp-for="@Model.RememberMe" class="form-check-input" />
                </div>
                <button type="submit" class="btn btn-outline-primary btn_login" style="margin-top:30px;margin-left: 69px">Login</button>
            </form>
        </div>
    </div>
    </div>
    <script src="/js/login_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>