@model List<TrialFreelance.ViewModels.OrderSolutionViewModel>

@* <style>
    .item {
        width: 90%;
        justify-content: center;
        background-color: #ebebf0;
        min-height: 60px;
        margin: 10px;
    }

    .name {
        height: 50px;
        float: left;
        background-color: #d5d5de;
        border-radius: 5px;
        padding: 5px;
    }

    .link {
        float: left;
        background-color: #d5d5de;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }

    .mybtn {
        float: left;
        background-color: #d5d5de;
        border-radius: 5px;
        margin: 5px;
    }
</style>
<div style="display:flex; flex-direction:column;">
@if (@Model!=null)
{
    @foreach (var sol in Model)
    {
        <div class="item">
            <div class="info name">@sol.CreatorUserName</div>
            <div class="info link">@sol.Description</div>
            @if (ViewBag.Role == "Admin")
            {
                <div class="mybtn"><a href="/Solution/EditSolution/@sol.Id">Edit</a></div>
                <div class="mybtn"><a href="/Solution/DeleteSolution/@sol.Id">Delete</a></div>
            }
        </div>
    }
}
else
{

<div class="item">
        <h2> Ще не створено рішень </h2>
    </div>
}
</div> *@

<head>
    <link rel="stylesheet" href="/css/solution_style.css" type="text/css" />
</head>
<div class="main_field">
    @if (@Model.Any())
    {
        <div class="accordion">

            @foreach (var sol in Model)
            {
                <div class="contentBx">
                    <div class="label">Order #@sol.Id<a href="@sol.GitHubLink" style="margin-left:20px;">@sol.GitHubLink</a></div>
                    <div class="content">
                        <p>@sol.Description</p>

                        <div class="d-flex flex-row-reverse">
                            @if (ViewBag.Role == "Admin")
                            {
                                <div class="btn btn-danger"><a href="/Solution/DeleteSolution/@sol.Id">Delete</a></div>
                                <div class="btn btn-warning"><a href="/Solution/EditSolution/@sol.Id">Edit</a></div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {

        <div style="margin: 50px;color: #FFF;">
            <h2> Ще не створено рішень </h2>
        </div>
    }
    <script src="/js/solution_script.js"></script>
   </div>