@model Order
@using TrialFreelance.Enums

<head>
    <link rel="stylesheet" href="/css/order_page_style.css" />
</head>
    <div class="main_field">
        <div style="display: flex; flex-direction: row;">
            <div class="order_left">
                <p class="data">11-12-2023</p>
            <div style="color:#fff">@((Statuses)Model.Status)</div>
                <h1 class="title">@Model.Name</h1>
            <h2 class="user">
                <span class="user_help">
                    <a href="/Account/ShowUser/@Model.CreatorId" class="nav-link link-light nav_user
            link-underline-opacity-0
            link-opacity-75-hover d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>

                        <span style="padding-top:3px;"> Show Owner</span>
                    </a>
                </span>
            </h2>
            </div>
            <div class="order_right">
            <div class="text_difficalty_@((Difficuties)Model.Difficulty)">@((Difficuties)Model.Difficulty)</div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="description">
            <span class="description_header">Description:</span>
        @Model.Description   
        </div>
        <div class="main_task">
            <div class="main_task_header">
                Main tasks:
            </div>
            <div class="main_task_content">
                @Model.MainTask
            </div>
        </div>
        <div class="secondary_task">
            <div class="secondary_task_header">
                Secondary tasks:
            </div>
            <div class="secondary_task_content">
            @Model.SecondaryTasks
            </div>
        </div>
        <div class="divider" style="margin-top:30px"></div>
        <div class="link_block">
            <h1 class="link_header">
                Links:
            </h1>
            <div class="link_content">
                <div class="link">
                    <span class="link_type">Git Hub: </span>
                <a href="@Model.GitHubLink">@Model.GitHubLink</a>
                </div>
                <div class="link">
                    <span class="link_type">Reference: </span>
                <a href="@Model.ExampleLink">@Model.ExampleLink</a>
                </div>
                <div class="link">
                    <span class="link_type">Data Base: </span>
                <a href="@Model.DbLink">
                    @Model.DbLink
                    </a>
                </div>
            </div>
            <div class="divider" style="margin-top:30px"></div>
            <div class="btn_group">
                <a type="button" class="btn btn-success btn_add" href='/Solution/CreateSolution/@Model.Id'>Add solution</a>
            <a type="button" class="btn btn-outline-primary btn_view" href='/Solution/OrderSolutions/@Model.Id'>View existed solution</a>
            </div>
        </div>
    </div>
