@using TrialFreelance.ViewModels;
@using TrialFreelance.Enums;
@model IEnumerable<PreOrderViewModel>

<link rel="stylesheet" href="/css/order_style.css" type="text/css" />

<div class="orders" style="margin-top:75px" id="orderCards">
    @if(Model.Any())
    {
        @foreach (var item in Model)
    {
     <div class="order_card">
                <div style="color:#fff; margin:5px;">@((Statuses)item.Status)</div>
        <div class="card_left">
                <h1 class="card_header">@item.Name</h1>
                
            <div class="card_description">
            @item.MainTask  
            </div>
                <div class="card_helper">
                    <p>Posted @item.PostDate</p>
                    <div style="display: flex; flex-direction: row; margin-left: 50px;">
                        @if (string.IsNullOrEmpty(item.DbLink))
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px" width="18" height="18" fill="darkred" class="bi bi-plus-square-fill" viewBox="0 0 16 16">

                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1" />}
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px" width="18" height="18" fill="forestgreen" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />}
                            </svg>
                        }
                        <p style="font-weight: bold; margin-left: 5px;">Data Base</p>
                    </div>
                    <div style="display: flex; flex-direction: row; margin-left: 20px;">
                        @if (string.IsNullOrEmpty(item.ExampleLink))
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px" width="18" height="18" fill="darkred" class="bi bi-plus-square-fill" viewBox="0 0 16 16">

                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1" />}
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 3px" width="18" height="18" fill="forestgreen" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />}
                            </svg>
                        }
                        <p style="font-weight: bold; margin-left: 5px;">Reference</p>
                    </div>
                </div>
                @if (ViewBag.Role == "Admin")
                {
                    <a class="btn btn-primary" asp-action="EditOrder" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="DeleteOrder" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </div>
            <div class="card_right">
                <div class="text_difficalty_@((Difficuties)item.Difficulty)">@((Difficuties)item.Difficulty)</div>
                <button type="button" onclick="redirect(@item.Id)" class="btn btn-primary card_btn">View</button>
            </div>
        </div>
    }

    }
    else
    {
        <div style="margin: 50px;color: #FFF;">
            <h2> Ще не створено Замовлень </h2>
        </div>
    }
</div>

<script>
    function redirect(id) {
        console.log(id);
        window.location.href = ("/Order/Order/" + id);
    }
</script>